<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div>
            {% block lracicot_fos_user_manager_content %}
            {% endblock lracicot_fos_user_manager_content %}
        </div>
    </body>
</html>
